BOT_TOKEN= ask BotFather (telegram: @BotFather) your bot id
FSM_STORAGE=redis (else will use MemoryStorage)
SUPPORT_USER= <telegram id>:<@username> (12345:@some_username)

REDIS_URL=redis://localhost:6379
DATABASE_URL=sqlite+aiosqlite:///./db.sqlite3

LOG_LEVEL=DEBUG