BOT_TOKEN= ask BotFather (telegram: @BotFather) your bot id
FSM_STORAGE=redis (else will use MemoryStorage)
SUPPORT_USER= <telegram id>:<@username> (12345:@some_username)

REDIS_URL=redis://localhost:6379

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT= // 5432 by default
DB_NAME=

LOG_LEVEL=DEBUG